@page "/profile"
@using Wow.Controllers

<PageTitle>Профиль @AccountController.user.Login | WoWch</PageTitle>

<head>
    
</head>
<body class="body-profile">
    <div class="profile-information-bar">
        <div>
            <img src="@imgUrl" style="height: 300px; width:300px;" />
        </div>
        <p>Изменить аватар</p>
        <form>
            <InputFile OnChange="@OnFileSelection" accept=".jpg, .png" />
            
        </form>
        
        <h3>
            Профиль @AccountController.user.Login
        </h3>
    </div>
    <div class="profile-body">
        <p style="font-size: 14pt">
            Дата регистрации: @AccountController.user.RegistrationDate
        </p>
    </div>

@*    <div>
        <InputFile OnChange="@OnFileSelection"></InputFile>
        <div class="row">
            <img src="@imgUrl">
        </div>
    </div>*@
</body>


@code {

    string imgUrl = string.Empty;
    private async Task OnFileSelection(InputFileChangeEventArgs e)
    {
        IBrowserFile file = e.File;
        var imgFile = await file.RequestImageFileAsync(file.ContentType, 226, 223);

        var buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream().ReadAsync(buffers);
        string imageType = imgFile.ContentType;
        imgUrl = $"data:{imageType};base64,{Convert.ToBase64String(buffers)}";

    }
}
