@page "/statistics"
@using Wow.Controllers
@using Wow.Models

<body>
    <h3>Статистика</h3>
    <h3>Самая популярная статья:</h3>
    <div class="article">
        <div class="article-header">
            <a>@bestTheme.Creator</a>
            <p class="article-header-text">@bestTheme.Header</p>
        </div>
        <div class="article-text">
            @bestTheme.Text
        </div>
        <div class="article-footer">
            <div class="article-rating">
                <input type="button" @onclick="() => HandleButtonLikeClick(bestTheme)" value="Понравилось" />
                <p>@bestTheme.Likes</p>
            </div>
            <div class="article-rating">
                <input type="button" @onclick="() => HandleButtonDislikeClick(bestTheme)" value="Не понравилось" />
                <p>@bestTheme.Dislikes</p>
            </div>
        </div>
        <div class="article-comments">
            <div class="comment">
                <div class="comment-header">
                    <span class="comment-author">Author</span>
                    @*<span class="comment-author">@comment.Author</span>*@
                    @*<span class="comment-timestamp">@comment.Timestamp.ToString("dd.MM.yyyy HH:mm")</span>*@
                </div>
                <div class="comment-body">
                    <p>Textffefeefefefefefffffffffffffffffffffffffffffffffffffffffffff</p>
                    @*<p>@comment.Text</p>*@
                </div>
            </div>
        </div>
    </div>

    <h3>Статья с наибольшим количеством дизлайков:</h3>

    <div class="article">
        <div class="article-header">
            <a>@worstTheme.Creator</a>
            <p class="article-header-text">@worstTheme.Header</p>
        </div>
        <div class="article-text">
            @worstTheme.Text
        </div>
        <div class="article-footer">
            <div class="article-rating">
                <input type="button" @onclick="() => HandleButtonLikeClick(worstTheme)" value="Понравилось" />
                <p>@worstTheme.Likes</p>
            </div>
            <div class="article-rating">
                <input type="button" @onclick="() => HandleButtonDislikeClick(worstTheme)" value="Не понравилось" />
                <p>@worstTheme.Dislikes</p>
            </div>
        </div>
        <div class="article-comments">
            <div class="comment">
                <div class="comment-header">
                    <span class="comment-author">Author</span>
                    @*<span class="comment-author">@comment.Author</span>*@
                    @*<span class="comment-timestamp">@comment.Timestamp.ToString("dd.MM.yyyy HH:mm")</span>*@
                </div>
                <div class="comment-body">
                    <p>Textffefeefefefefefffffffffffffffffffffffffffffffffffffffffffff</p>
                    @*<p>@comment.Text</p>*@
                </div>
            </div>
        </div>
    </div>
</body>

@code {
    private Theme bestTheme = ThemeController.GetThemeWithMaxLikes();
    private Theme worstTheme = ThemeController.GetThemeWithMaxDislikes();

    private void HandleButtonLikeClick(Theme theme)
    {
        if (AccountController.user != null)
            theme.AddLike();
    }

    private void HandleButtonDislikeClick(Theme theme)
    {
        if (AccountController.user != null)
            theme.AddDislike();
    }
}
